<a id="profile-header"></a>
<div class="container-fluid backgrey">
  <div class="container page-banner">
    <div class="col-xs-12 col-md-6">
      <%= image_tag @user.avatar.url, :class => "profile-avatar"%>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p><strong>@<%= @user.username %></strong></p>
      <p><%= @user.about %></p>
      <%= link_to followings_path do %>
       <strong><%= @user.follow_count %></strong> Following
      <% end %>
      &nbsp
      <%= link_to followers_path do %>
      <strong><%= @user.followers_count %></strong> Followers
      <% end %>
      
      <%= render_follow_conditionally %>
    </div>
  </div>
</div>