<div class="container review-show-padding" id="sidenav">
  <div class="row">
  
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= render "content" %>
    <br>
    <br>
    </div>
</div>

<div class="container" id="photos">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
  <% @review.photos.each do |photo| %>
    <%= image_tag photo.file_name.url, :class => "img-responsive" %>
    <br>
  <% end %>
      </div>
</div>

<div class="comments-bg" id="comments">
  <div class= "container"> 
  <div class= "col-md-8 col-md-offset-2">
  <br>
  <%= link_to @review.brand.label, @review.brand, :class => 'btn btn-sm btn-lake' %>
  <br> <br>
  <%= render_like_conditionally %>

  <span class="votes-count" data-id="<%= @review.id %>">
  <%= @review.get_likes.size %>
  </span>

    <h2><%= render_comments_count %></h2>
    <% @comments.each do |comment| %>
     <div id="comment_<%= comment.id %>">
       <hr>
      <p class="comment-user"><strong><%= link_to comment.user.username.upcase, comment.user %></strong></p><p class="timeago">&nbsp&nbsp&nbsp<%="#{time_ago_in_words(comment.created_at)} ago"%></p>
      <br>
      <br>
      <p><%= comment.comment %><p>
       <%= link_to [@review, comment], method: :delete, remote: true do %>
          <i class="glyphicon glyphicon-remove"></i>
       <% end %>
       </div>
    <% end %>
  <%= form_for([@review, @review.comments.build]) do |f| %> 
  <br>
<div class="form-group">
    <%= f.text_area :comment, :class => 'form-control comment-input-box', data: { behavior: 'autocomplete' } %>
</div> 

 <div class="submit-comment">
  <%= f.submit 'Submit', :class => 'btn btn-main' %> 
</div>
  <a id="last-comment"></a>
<% end %> 
  </div>
</div>
</div>