<div class="container review-show-padding" id="sidenav">
  <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= render "content" %>
    <br>
    <br>
    <div class="btn-group inline pull-left">
      <%= button_to "Delete Review", @review, :method => :delete, class: "btn btn-main" %>
      <%= button_to "Edit Review", edit_review_path, :method => :get, class: "btn btn-main" %>
    </div>
    <hr>
    </div>
  </div>
</div>

<div class="container" id="photos">
  <% @review.photos.each do |photo| %>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= image_tag photo.file_name.url, :class => "img-responsive" %>
    </div>
  <% end %>
</div>

<div class="comments-bg" id="comments">
  <div class= "container"> 
  <div class= "col-md-8 col-md-offset-2">
 <div class="review_footer">
  <br>
  <%= link_to @review.brand.label, @review.brand, :class => 'btn btn-sm btn-lake' %>
  <br> <br>
  <%= render_like_conditionally %>

  <span class="votes-count" data-id="<%= @review.id %>">
  <%= @review.get_likes.size %>
  </span>

    <h1><%= render_comments_count %></h1>
    <% @comments.each do |comment| %>
            <hr>
    <p><strong><%= comment.user.username %></strong></p>
      <p class="comment"><%= comment.comment %><p>
       <p class="timeago"><%="#{time_ago_in_words(comment.created_at)} ago"%></p>

    <% end %>
  </div>
  <%= form_for([@review, @review.comments.build]) do |f| %> 
<div class="form-group">
    <%= f.text_area :comment, :class => 'form-control'  %>
</div> 

  <%= f.submit 'Submit', :class => 'btn btn-sm btn-main' %> 

<% end %> 
  </div>
</div>