<div class="field col-xs-12 col-md-8 col-md-offset-2 <%= 'hidden' unless local_assigns[:visible] %>">
  <figure class='photozone'>
    <%= f.file_field :file_name, accept: 'image/*', data: { photo: true } %>
    <%= f.hidden_field :file_name_cache %>
    <%= image_tag f.object.file_name %>
  </figure>
  
  <div class="remove-photo-button">
  <%= link_to_remove_association 'Remove', f, wrapper_class: 'field', data: { remove_photo: true } %>
  </div>
  
</div>  