<%= javascript_include_tag "sizer" %>
<%= javascript_include_tag "editor" %>

<%= form_for(@review) do |f| %>

  <div class="nextnav">
    <div class="container">
      <div class="review-next pull-right">
        <%= button_tag(type: 'submit', class: "btn btn-main") do %>
          Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <% end %>
      </div>
      <div class="review-write pull-left">
        <p>New Review</p>
      </div>
    </div>
  </div>

  <div class= "container">
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field col-md-8">
      <%= f.text_area :title, class: 'h1 review-title', placeholder: "Add a title" %>
    </div>
    <div class="field col-md-8">
      <%= f.text_area :description, class: 'p review-input', placeholder: "Write your review..." %>
    </div>

    <div class="field col-md-8">
      <%= f.collection_select(:brand_id, Brand.all, :id, :label, { prompt: 'Select a Brand', selected: @review.brand_id}, { class: 'brand-autocomplete' }) %>
    </div>

    <div class="field col-md-8">
      <%= f.collection_select(:category_id, Category.all, :id, :item_type, { prompt: 'Select a Category', selected: @review.category_id}, { class: 'brand-autocomplete' }) %>
    </div>

    <%= f.fields_for :photos do |photo| %>
      <%= render 'photo_fields', f: photo  %>
    <% end %>
    <div class="field col-md-8">
      <%= link_to_add_association '+ Add another photo', f, :photos, data: { new_photo: true } %>
    </div>
  </div>
<% end %>
