    <div class="jumbotron gradient">
        <div class="container">
            <h1 class="text-center">Find your next favorite</h1>
	    <div class="row top-buffer">
	        
	   <% @featured_categories.each do |category| %>
        <div class="col-md-3">
        <div class="between-buffer">
            <a href="#" class="btn btn-explore btn-lg btn-block btn-padding"><%= category.item_type %></a>
        </div>
                </div>
    <% end %>

	</div>
	</div>
	</div>
	
    <div class = "container">
            
    <h1>All Makeup Products</h1>
    <hr>

		<% @makeup.group_by(&:parent).each do |parent, categories| %>
		<div class="col-md-3">
		<h4><%= parent.item_type if parent %></h4>
		<% categories.each do |category| %>
		<%= category.item_type %>
		<% end %>
		</div>  
		<% end %>

    <h1>All Skincare Products</h1>
    <hr>

		<% @skincare.group_by(&:parent).each do |parent, categories| %>
		<div class="col-md-3">
		<h4><%= parent.item_type if parent %></h4>
		<% categories.each do |category| %>
		<%= category.item_type %>
		<% end %>
		</div>  
		<% end %>
		</div>  