<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:300" rel="stylesheet">

<%= render "navbar/default" %>

</head>

<body>
 <%= flash_messages %>
<%= yield %>

</body>
</html>
